/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after { box-sizing: border-box; }

h1, h2, h3, h4, p, ul, ol, li { margin: 0; }

input, button, textarea, select { font: inherit; } 

ul, ol { list-style: none; }

img {
    max-width: 100%;
    display: block;
}

/* Variables */
:root {
    --grey: #333950;
    --blue-grey: #747B95;
    --blue-grey-opaque: 81,117,255;
    --royal-blue: #5175FF;
    --royal-blue-opaque: 81,117,255;
    --white: #FFFFFF;
    --salmon: #F05B5B;
    --sky-blue: #829CFF;
    --dark-grey: #25293A;
    --grey-opaque: #333950;
    --light-blue: #B4C4FF;
}

/* Container */
/* .bg-container {
    max-width: 100%;
    margin: 0 auto;
    border: blueviolet solid 1px;
} */

.container {
    max-width: calc(1110px + 160px);
    margin: 0 auto;
    padding: 0px 80px;
}

/* Fonts */
body {
    font-family: 'Kumbh Sans', sans-serif;   
    font-weight: 400;
    line-height: 28px;
    font-size: 18px;
    color: var(--blue-grey);
    overflow-x: hidden;
}

.p1 {
    font-size: 18px;
}

.p2 {
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 700;
    color: var(--grey);
}

h1 {   
    font-size: 56px;
    line-height: 64px;
}

h2 {
    font-size: 20px;
    line-height: 28px;
}

h3 {
    font-size: 16px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: 400;
}


/* Text Colour */
.txt-light {
    color: var(--white);
}

.txt-dark {
    color: var(--dark-grey);
}

.txt-primary {
    color: var(--royal-blue);
}

/* Letter spacing */
.extra-ls {
    letter-spacing: 5px;
}

/* Buttons */
button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    width: 170px;
    height: 55px;
    border-radius: 50px;
}

.btn-dark {   
    background-color: var(--royal-blue);
    color: var(--white);    
}

.btn-dark:Hover {
    opacity: 0.8;
}

.btn-light {
    background-color: var(--white);
    color: var(--royal-blue); 
}

.btn-light:hover {
    color: rgba(var(--royal-blue-opaque), 0.5);
}

.btn-medium {
    background-color: rgba(var(--royal-blue-opaque), 0.1);
    color: var(--royal-blue); 
}

.btn-medium:hover {
    background-color: rgba(var(--royal-blue-opaque), 0.2);
}

.bg-light {
    background-color: var(--white);
}

.bg-dark {
    background-color: var(--royal-blue);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-royal-blue-opaque {
    background-color: rgba(var(--royal-blue-opaque), 0.1);
}

/* Margin and Padding */

.mb {
    margin-bottom: 65px;
}

/* Layout */

/* Hero Section */
.hero {
    height: 100%;
    margin-bottom: 257px;
}

.hero__content {
    padding-top: 80px;
    display: flex;
    position: relative;
}

.hero__content::before {
    position: absolute;
    content: '';
    top: -450px;
    left: 575px;
    height: 1500px;
    width: 100%;
    background-image: url('assets/home/bg-pattern-header.svg');
    background-repeat: no-repeat;
}

.hero__logo {
    margin-bottom: 170px;
}

.hero__header {
    max-width: 600px;
    margin-bottom: 30px;
}

.hero__paragraph {
    max-width: 540px;
    margin-bottom: 40px;
}

.hero__content-right {
    display: flex;
    justify-content: flex-end;
}

.hero__image {
  transform: translate(24px, 160px);
}

/* Offer Section */
.offer {
    display: flex;
    height: 508px;    
}

.offer__item {  
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.offer__item:not(:last-child) {
    margin-right: 30px;
}

.pro {
    background-image: url('assets/home/bg-pattern-pricing.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.offer__heading {
    margin-bottom: 40px;
}

.offer__price, 
.offer__features {
    margin-bottom: 20px;
}

.mb {
    margin-bottom: 58px;
}

.offer__btn {
    margin-top: 15px;
}

/* Footer Section */
.footer {
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: -265px;
    left: 0px;
    height: 600px;
    width: 100%;   
    background-color: var(--dark-grey);
}

.footer__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 90px;
}

.footer__content::before {
    content: '';
    position: absolute;
    top: -265px;
    left: -600px;
    height: 600px;
    width: 1700px;
    background-image: url('assets/home/bg-pattern-footer.svg');
    background-repeat: no-repeat;
    background-position-y: -600px;
    background-position-x: -200px;
}

.footer__countdown-heading {
    position: relative;
    z-index: 1;
}

.footer__countdown {
    display: flex;
    position: relative;
}  

.footer__time {
    margin-right: 15px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.footer__btn {
   position: relative;
   z-index: 1;
}

/* Sign Up Page */
.sign-up-page {
    position: relative;
}

.sign-up-page::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background-image: url('assets/sign-up/bg-pattern-side.svg');
    background-position: center bottom;
    background-color: var(--dark-grey);
    z-index: -1;
}

.header {
    height: 111px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 124px;
}

.header__logo {
    object-fit: none;
}

.sign-up__content {
    display: flex;
}

.sign-up__countdown-heading span {
    color: var(--royal-blue);
}

.sign-up__countdown {
    display: flex;
    position: relative;
    z-index: 1;
}

.sign-up__time {
    margin-right: 15px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.sign-up__left {
    max-width: 540px;
    margin-right: 125px;
}

.sign-up__header {
    margin-bottom: 20px;
}

.sign-up__paragraph {
    margin-bottom: 30px;
}

.sign-up__right {
    height: 508px;
    max-width: 445px;
    padding: 0px 42px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, select {
    outline: none;
    border: none;
    border-bottom: rgba(var(--blue-grey-opaque), 0.5) 1px solid;
    width: 360px;
    height: 68px;
    padding-left: 10px;
    background-color: var(--white);
}

input::placeholder,
select {
    color: rgba(var(--blue-grey-opaque), 0.5);
}

select::placeholder span  {
    color: var(--dark-grey);
}

.sign-up__btn {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}